@font-face {
  font-family: "Roboto";
  src: url("../../../online-zoo/assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../online-zoo/assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../online-zoo/assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../online-zoo/assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../../../online-zoo/assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
body {
  overflow: auto;
  position: relative;
  background-color: #030303;
}

body.lock {
  overflow: hidden;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.wrapper {
  width: 1160px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.nav-item a.active:after,
.nav-link,
.nav-link:hover,
.nav-link:focus,
.no-button,
.no-button:hover,
.no-button:active,
.left-btn,
.left-btn:hover,
.left-btn:active,
.right-btn,
.right-btn:hover,
.right-btn:active,
.pets_card,
.pets_card:hover,
.pets_card:hover .pets_card-btn,
.reset-btn,
.reset-btn:hover,
.reset-btn:active,
.account-style,
.account-style:hover,
.pop-btn,
.pop-btn:hover,
.pop-btn:active {
  transition: all 0.5s ease;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 3px;
  text-align: center;
  transition: all 0.3s ease;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #333B41;
}

h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 3px;
  text-align: center;
  transition: all 0.3s ease;
}

.img_backround {
  margin-top: -4px;
}

.button-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  margin: 0;
  border: 0px;
  cursor: pointer;
  text-indent: 3px;
}

.button-1:hover, .button-1:active {
  background: #E47209;
}

/* ### HEADER ### */
.black-block {
  background-color: #000000;
  position: relative;
  z-index: 1;
  width: 1600px;
}

.wrapper_header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 80px;
  position: relative;
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 82px;
  height: 52px;
  cursor: pointer;
  position: relative;
  border: 1.18841px solid #FFFFFF;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.logo:hover {
  border: 1.18841px solid #FE9013;
  transition: all 0.3s ease;
}
.logo:hover h1 {
  color: #FE9013;
  transition: all 0.3s ease;
}

.img_bamboo {
  position: relative;
  margin: -39px 0px 0px 9px;
}

.img_bamboo_down {
  position: relative;
  margin: -53px 0px 0px 9px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px 16px 23px;
}

.nav:last-child {
  margin-right: -41px;
}

.nav-item {
  margin-right: 58px;
}

.nav-link {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.active {
  color: #F9804B;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #F9804B;
}

.active:hover {
  color: #ffffff;
}

.copyright {
  color: #CDCDCD;
  position: relative;
  z-index: 1;
}

h5 {
  display: flex;
  margin-left: 422px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

/* ### Pick and feed a friend ### */
.gradient-block {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  width: 1600px;
  margin-top: -4px;
  padding-bottom: 177px;
}

.titel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #333B41;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0;
  padding: 41px 0px 0px 0px;
}

.subtitel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  font-weight: 400;
  line-height: 140%;
  color: #FFFFFF;
  margin: 8px 0px 0px 0px;
  letter-spacing: 0.0038em;
}

.donat-info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #333B41;
  color: #FE9013;
  margin: 48px 0px 63px 0px;
}

.wrap-pick {
  display: flex;
  flex-direction: column;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  align-items: center;
  margin: 0px 0px 140px 0px;
}

.title-pick {
  color: #FE9013;
  margin: 0;
  margin-top: 41px;
  margin-left: -13px;
}

.info-pick {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #333B41;
  margin: 0;
  line-height: 120%;
  margin-top: 23px;
  margin-left: -133px;
}

.wrap_panda {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 58px 21px 0px 0px;
}

.p_position {
  margin: 98px 8px 0px 14px;
}

.pick_numb {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 9px -22px 0px 0px;
}

.pick_num_info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  text-align: center;
  margin: 11px -23px 0px 0px;
}

.x {
  width: 14px;
  height: 14px;
  margin: 132px 25px 0px 26px;
}

.img_animal {
  margin: 0px 7px 0px 39px;
}

.donate-menu {
  margin: 0px 0px 0px 0px;
}

.donate-menu-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  color: #000000;
  margin: 49px 0px 0px 4px;
}

.donate-menu-progressbar {
  margin-top: 16px;
  position: relative;
}

.donate-menu-backround {
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.donate-menu-line {
  width: 915px;
  height: 2px;
  background: #72828E;
  display: inline-block;
}

.donate-menu-container {
  position: absolute;
  display: flex;
  top: 7px;
  margin-left: -30px;
}

.donate-menu-container-radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.dollar-count {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
  color: #333B41;
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.dollar-radio {
  width: 10px;
  height: 20px;
  background: url(../../assets/icons/dollar.svg) center no-repeat;
  padding-right: 14px;
}

.dollar-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  display: flex;
  align-items: center;
  padding-top: 33px;
}

.dollar-label:hover {
  cursor: pointer;
}

.label-radio {
  display: inline-block;
  position: absolute;
  top: -14px;
  width: 40px;
  height: 40px;
  margin-left: -8px;
  cursor: pointer;
}

.label-radio::before {
  margin: 0 auto;
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #FFEE2E;
  border-radius: 50%;
}

.custom-radio:checked + label {
  background: url("../../assets/icons/roller_icon.svg");
}

.custom-radio:checked + label + .dollar-label > .dollar-count {
  color: #FE9013;
}

.custom-radio:checked + label + .dollar-label > .dollar-radio {
  background: url(../../assets/icons/dollar_orange.svg) center no-repeat;
}

.input-number-wrapper {
  width: 268px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}

.amount-input {
  box-sizing: border-box;
  width: 268px;
  height: 54px;
  border: 1px solid #929699;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  color: #929699;
  outline: none;
  text-indent: 2px;
  margin: -2px 0px 0px 0px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-number-dollar {
  background: url(../../assets/icons/dollar_grey.svg) no-repeat center;
  width: 10px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 15px;
}

.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount-input:focus:valid {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.amount-input:focus:valid + .input-number-dollar {
  background: url(../../assets/icons/dollar_green.svg);
}

.amount-input:focus:valid::-moz-placeholder {
  color: #4B9200;
}

.amount-input:focus:valid:-ms-input-placeholder {
  color: #4B9200;
}

.amount-input:focus:valid::placeholder {
  color: #4B9200;
}

.amount-input:focus:invalid {
  border: 1px solid #D31414;
}

.amount-input:focus:valid {
  border: 1px solid #4B9200;
}

.radio-container-amount {
  margin: 0 auto;
  margin-top: 20px;
  width: 197px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  margin: 8px 16px 45px 0px;
}

.radio-container-monthly {
  display: flex;
  align-items: center;
}

.custom-amount-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-amount-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-amount-radio + label::before {
  margin-right: 10px;
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #FE9013;
  border-radius: 50%;
}

.custom-amount-radio:checked + label::before {
  border: none;
  width: 16px;
  height: 16px;
  background: #4B9200;
}

.text-pick2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  margin: 0;
  line-height: 130%;
  margin-top: -26px;
  margin-left: 193px;
  margin-right: 190px;
  margin-bottom: 61px;
}

.btn-position_pick {
  margin-top: -1px;
  margin-left: 5px;
  margin-bottom: 59px;
}

/* ### Footer ### */
.position_footer {
  margin-top: -137px;
}

.position_footer_logo {
  margin-top: 40px;
}

.footer-horizont {
  display: flex;
  flex-direction: row;
}

.footer-vertical-1 {
  display: flex;
  flex-direction: column;
}

.footer-vertical-2 {
  margin: 345px 0px 24px 78px;
}

.footer-vertical-3 {
  margin-left: 15px;
  margin-top: 41px;
}

.btn-position_footer {
  border-radius: 5px;
  margin-top: 69px;
  margin-left: 0px;
  margin-bottom: 16px;
}

.social_block {
  display: flex;
  flex-direction: column;
  margin: 46px 0px 0px 0px;
  width: 110px;
}

.font-soc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  color: #FFFFFF;
  margin: 5px 0px 0px 12px;
  transition: all 0.3s ease;
}

.font-soc:hover {
  color: #4B9200;
  transition: all 0.3s ease;
}

.sub-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #333B41;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
}

.design {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  font-weight: 100;
  line-height: 130%;
  color: #FFFFFF;
  margin: 10px 0px 0px 0px;
}

.design_position {
  margin: 216px 0px 0px 137px;
}

.ico-wrap {
  display: flex;
  flex-direction: row;
  margin: -18px 0px 0px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

.ico-wrap:hover {
  color: #4B9200;
}

.font-pasition {
  margin: 3px 0px 29px 12px;
}

.ico_f {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: url("../../../online-zoo/assets/icons/facebook_26x26.svg");
          mask-image: url("../../../online-zoo/assets/icons/facebook_26x26.svg");
  transition: all 0.3s ease;
}

.ico_t {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: url("../../../online-zoo/assets/icons/twitter_26x26.svg");
          mask-image: url("../../../online-zoo/assets/icons/twitter_26x26.svg");
  transition: all 0.3s ease;
}

.ico_i {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: url("../../../online-zoo/assets/icons/instagram_26x26.svg");
          mask-image: url("../../../online-zoo/assets/icons/instagram_26x26.svg");
  transition: all 0.3s ease;
}

.ico_y {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: url("../../../online-zoo/assets/icons/youtube_26x26.svg");
          mask-image: url("../../../online-zoo/assets/icons/youtube_26x26.svg");
  transition: all 0.3s ease;
}

.ico_f:hover,
.ico_t:hover,
.ico_i:hover,
.ico_y:hover {
  background-color: #84ff00;
  transition: all 0.3s ease;
}

.ico-wrap:hover {
  color: #4B9200;
}

.ico-wrap:hover > .ico_f {
  background-color: #84ff00;
}

.ico-wrap:hover > .ico_t {
  background-color: #84ff00;
}

.ico-wrap:hover > .ico_i {
  background-color: #84ff00;
}

.ico-wrap:hover > .ico_y {
  background-color: #84ff00;
}

.mail-box {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.contact_info {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  border: 0;
  width: 228px;
  height: 42px;
  border: 1px solid #F9804B;
  text-indent: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  color: #ffffff;
  transition: all 0.3s ease;
  outline: none;
}

.button-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  text-align: center;
  color: #D31414;
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #D31414;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  text-indent: 3px;
  transition: all 0.3s ease;
}

.button-2:focus:valid {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.contact_info::-moz-placeholder {
  color: #e2dcdc;
}

.contact_info:-ms-input-placeholder {
  color: #e2dcdc;
}

.contact_info::placeholder {
  color: #e2dcdc;
}

.contact_info:focus:invalid:required {
  border: 1px solid #D31414;
}

.contact_info:focus:valid {
  border: 1px solid #4B9200;
}

.contact_info:valid + a > .button-2 {
  border: 2px solid #4B9200;
  color: #4B9200;
}

.btn-possition_intro {
  margin: 60px 0px 0px 983px;
}

.menu_footer {
  margin: 26px 0px 16px 23px;
  padding-left: 0px;
}/*# sourceMappingURL=style.css.map */