@font-face {
  font-family: 'Roboto';
  src: url("../../../online-zoo/assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../online-zoo/assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../online-zoo/assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../online-zoo/assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../online-zoo/assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}

body {
  overflow: auto;
  position: relative;
  // background-color: #2c2b2b;
  background-color: #030303;
}

body.lock {
  overflow: hidden;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.wrapper {
  width: 1160px;
  // margin-left: 40px;
  // background-color: #ff0000;
  margin: auto;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

// a:visited {
//   color: rgba(4, 122, 233, 0.822);
// }

* {
  box-sizing: border-box;
}



.nav-item a.active:after,
.nav-link,
.nav-link:hover,
.nav-link:focus,
.no-button,
.no-button:hover,
.no-button:active,
.left-btn,
.left-btn:hover,
.left-btn:active,
.right-btn,
.right-btn:hover,
.right-btn:active,
.pets_card,
.pets_card:hover,
.pets_card:hover
.pets_card-btn,
.reset-btn,
.reset-btn:hover,
.reset-btn:active,
.account-style,
.account-style:hover,
.pop-btn,
.pop-btn:hover,
.pop-btn:active {
  transition: all 0.5s ease;
}

h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  display: flex;
  align-items: center;
  // letter-spacing: 0.06em; //расстояние между буквами
  color: #ffffff;
  margin-top: 3px;
  text-align: center;
  transition: all 0.3s ease;
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #333B41;
}

h4 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 3px;
  text-align: center;
  transition: all 0.3s ease;
}

@mixin p-size-15 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #333B41;
}

@mixin p-size-16 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
}

@mixin p-size-24 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #333B41;
}

@mixin p-size-36 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #333B41;
}

/* ### HEADER ### */
.black-block {
  background-color: #000000;
  position: relative;
  z-index: 1;
  width: 1600px;
}

.wrapper_header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 80px;
  position: relative;
  z-index: 1;

}

.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 82px;
  height: 52px;
  cursor: pointer;
  position: relative;
  border: 1.18841px solid #FFFFFF;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.logo:hover {
  border: 1.18841px solid #FE9013;
  h1 {
    color: #FE9013;
    transition: all 0.3s ease;
  }
  h4 {
    color: #FE9013;
    transition: all 0.3s ease;
}
  transition: all 0.3s ease;
}
.img_bamboo {
  position: relative;
  margin: -39px 0px 0px 9px;
}



.img_bamboo_down {
  position: relative;
  margin: -53px 0px 0px 9px;
}


.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px 16px 23px;
}

//   #fbmenu {
//     position: relative;
//   }
.nav:last-child {
  margin-right: -41px;
}

.nav-item {
  margin-right: 58px;
}



.nav-link {
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.active {
  color: #F9804B;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #F9804B;
}

.copyright {
  color: #CDCDCD;
  position: relative;
  z-index: 1;
}

h5 {
  display: flex;
  margin-left: 422px; //<---- "Designed by ©"
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.active:hover {
  color: #ffffff;
}


/* ### Watch your favorite animal online ### */

.image {
  margin: -80px 0px 0px 0px;
}

.intro {
  position: relative;
}

.circle {
  margin: -692px 0px 0px 807px;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.intr-text {
  width: 500.31px;
  height: 400px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: -391px 0px 0px 880px;
  position: relative;
  z-index: 2;
}

.button-1 {
  @include p-size-16();
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  margin: 0;
  border: 0px;
  // margin: 60px 0px 0px 983px;
  cursor: pointer;
  text-indent: 3px;
}

.button-1:hover, .button-1:active {
  background: #E47209;
}

.btn-possition_intro {
  margin: 60px 0px 0px 983px;
}


/* ### The Backstage ### */

.white-block {
  background: #FFFFFF;
  width: 1600px;
}

.wrap-backstage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 94px;
  background: #FFFFFF;
}

.image-backstage {
  margin: 140px 0px 95px 0px;
}

.info-backstage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 140px 0px 0px 87px;
}

.title {
  line-height: 120%;
  margin: 0px 0px 0px 0px;
}

.about-title {
  @include p-size-16();
  line-height: 130%;
  margin: 22px 0px 0px 0px;
}

.subtitle {
  @include p-size-24();
  line-height: 120%;
  margin: 54px 0px 0px 0px;
}

.about-subtitle {
  @include p-size-16();
  margin: 32px 0px 0px 0px;
  line-height: 140%;
}

.flower {
  position: relative;
  margin: -725px 0px 0px 1396px;
  padding-bottom: 94px;
}


/* ### Pets ### */

@mixin circle-btn {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  border: none;
  outline: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.left-btn {
  @include circle-btn();
  position: absolute;
  margin-top: 403px;
  margin-left: 138px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.right-btn {
  @include circle-btn();
  position: absolute;
  margin-top: 403px;
  margin-left: 1398px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.right-btn:hover,
.left-btn:hover {
  background: linear-gradient(113.96deg, #4B9200 1.49%, #699c32 101.44%);
  cursor: pointer;
}


.wrapper_pets {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img1 {
  border-radius: 5px 5px 0px 0px;
  margin-left: -2px;
}


// linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

.btn-possition_pets {
  margin: 60px 0px 0px 651px;
  padding-bottom: 100px;
}

@mixin pets_zoom {
  background-size: 100% 86%;
  transition: background-size .3s ease-in;
  -moz-transition: background-size .3s ease-in;
  -web-kit-transition: background-size .3s ease-in;
}

.pets1 {
  background: url("../../../online-zoo/assets/images/giant_pandas.jpg")center center;
  @include pets_zoom();
}
.pets2 {
  background: url("../../../online-zoo/assets/images/eagles.jpg");
  @include pets_zoom();
}
.pets3 {
  background: url("../../../online-zoo/assets/images/gorillas.jpg");
  @include pets_zoom();
}
.pets4 {
  background: url("../../../online-zoo/assets/images/two-toed_sloth.jpg");
  @include pets_zoom();
}
.pets5 {
  background: url("../../../online-zoo/assets/images/cheetahs.jpg");
  @include pets_zoom();
}
.pets6 {
  background: url("../../../online-zoo/assets/images/penguins.jpg");
  @include pets_zoom();
}

.pets_card {
width: 366px;
height: 426px;
border: 1px solid;
border-radius: 5px;
background-position: 50% 0;
background-repeat: no-repeat;
color: #FE9013;
margin-right: 2px;

position: relative;
overflow: hidden;
}

.pets_card:before {
  content: "";
  display: block;
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  transition: background .5s;
}
.pets_card:hover:before {
  background: rgba(0,0,0, .5);
}

.pets1:hover,
.pets2:hover,
.pets3:hover,
.pets4:hover,
.pets5:hover,
.pets6:hover {
  background-size: 120% 106%;
  transition: all 0.5s ease;
  .kind_of {
    position: relative;
    z-index: 1;
    color: #FE9013;
    transition: all 0.5s ease;
    margin-top: 10%;
  }
  .native {
    color: #ffffff;
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
  }
}

.kind_of {
@include p-size-16();
line-height: 140%;
font-weight: 600;
text-transform: uppercase;
color: #000000;
margin-top: 373px;
margin-left: 14px;
margin-bottom: 0px;
}



.native {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #000000;
margin-top: -2px;
margin-left: 14px;
margin-bottom: 0px;
}

.icon_choose_banana {
margin-top: -37px;
margin-left: 319px;
margin-bottom: 0px;
}

.icon_choose_fish {
margin-top: -39px;
margin-left: 307px;
margin-bottom: 0px;
}

.palm {
position: absolute;
margin: -460px 0px 0px 0px;
// padding-bottom: 94px;
}

.strelitzia {
position: absolute;
margin: -275px 0px 0px 1232px;
// padding-bottom: 94px;
}

/* ### Pick and feed a friend ### */

.gradient-block {
  width: 1600px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
}

.wrap-pick {
  display: flex;

  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;

  margin-top: 0px;
  // padding-top: 0px;
}

.wra1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  // margin-top: 0px;
}

.title-pick {
  color: #FE9013;
  margin: 0;

  margin-top: 42px;
  margin-left: 3px;
}

.info-pick {
  @include p-size-24();
  margin: 0;
  line-height: 120%;

  margin-top: 33px;
  margin-left: -120px;
}

.text-pick1 {
  @include p-size-16();
  font-weight: 500;
  margin: 0;
  line-height: 130%;

  margin-top: 40px;
  margin-left: 39px;
}

.text-pick2 {
  @include p-size-16();
  margin: 0;
  line-height: 130%;

  margin-top: 10px;
  margin-left: 99px;
  margin-right: 190px;
}

.subtitle-pick {
  @include p-size-36();
  line-height: 130%;
  margin: 0;

  margin-top: 60px;
  margin-left: -2px;
}

.pick-blok {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  margin-left: -131px;
}

.choose {
  margin-top: 39px;
  margin-left: 129px;
}

.gradient {
  position: relative;
  width: 169px;
  height: 169px;
  margin: 0;
  background: #ffffff;
  border-radius: 5px;
}

.gradient::before {
  content: "";
  position: absolute;
  inset: 0;

  width: 168px;
  height: 168px;

  border-radius: 5px;
  border: 1px solid transparent;
  background: linear-gradient(75deg,#F9804B,#FE9013) border-box;
  -webkit-mask:
     linear-gradient(#fff 0 0) padding-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.pic1 {
  position: relative;
  z-index: 2;
  margin-top: 55px;
  margin-left: 31px;
}
.pic2 {
  position: relative;
  z-index: 2;
  margin-top: 39px;
  margin-left: 41px;
}
.pic3 {
  position: relative;
  z-index: 2;
  margin-top: 48px;
  margin-left: 22px;
}

.choose-text {
  @include p-size-16();
  line-height: 140%;
  width: 168px;
  height: 46px;

  margin-top: 30px;
}

.btn-possition_pick {
  margin-top: 206px;
  margin-left: 0px;
  margin-bottom: 59px;
}

.arrow1 {
  position: relative;
  margin-top: -199px;
  margin-left: -299px;
}
.arrow2 {
  position: relative;
  margin-top: -43px;
  margin-left: 296px;
  margin-bottom: -3px;
}

.link-style {
  border-bottom: 1px solid #FE9013; /* добавляем нижнюю границу */
  padding-bottom: 2px;
}

/* ### Testimonials ### */

.title-test {
  @include p-size-36();
  margin: 0;
}

.gradient-block-test {
  position: relative;
  width: 268px;
  height: 391px;
  margin: 0;
  background: #F1F3F2;
  border-radius: 20px;
  // margin-left: 10px;
  // margin-right: 17px;
}

.gradient-block-test::before {
  content: "";
  position: absolute;
  inset: 0;

  width: 267px;
  height: 390px;

  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(75deg,#FEBDAB (74%),#F3A9F8 (66%),#E0D8F0 (100%),#EAF7FE (100%), #EAF7FE (100%)) border-box;
  -webkit-mask:
     linear-gradient(#fff 0 0) padding-box,
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

// .-blok {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   // align-items: center;
//   margin-left: -131px;
// }

.user_name {
  @include p-size-16();
  line-height: 120%;
  color: #000000;
  margin: 0;
  // margin-top: 0px;
  margin-left: 64px;
  padding-top: 15px;
}

.user_local {
  @include p-size-15();
  line-height: 120%;
  color: #BDBDBD;
  margin: 0;
  margin-top: -21px;
  margin-left: 64px;
  letter-spacing: 0.02em;
}

.avatar {
  position: relative;
  z-index: 2;
  margin-top: -19px;
  margin-left: 17px;
}

.user_comment {
  @include p-size-15();
  line-height: 120%;
  margin: 0;
  margin-top: 10px;
  margin-left: 17px;
  // margin-right: 14px;
  // margin-bottom: 0px;
  width: 237px;
  height: 309px;
  overflow: hidden;
}

.block_test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-blok-position {
  padding-top: 143px;
  // padding-left: 697px;
  // padding-bottom: 100px;
}

.blocks_comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 0px;
}

.slidecontainer {
  width: 599px;
  height: 8px;
  margin-top: 14px;
  margin-left: -3px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border: solid #f1b876 1px;
  border-radius: 5px;
  background: #F5F7F6;;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 115.19px;
  height: 6px;
  // background: #4CAF50;
  cursor: pointer;

  background: #FE9013;
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 115.19px;
  height: 6px;
  background: #FE9013;
  border-radius: 5px;
  cursor: pointer;
}

.btn-possition_test {
  border-radius: 5px;
  margin-top: 37px;
  margin-left: -863px;
}

.leav {
  margin-top: -95px;
  margin-left: 1353px;
}

/* ### Footer ### */
.position_footer {
  margin-top: -137px;
}

.position_footer_logo {
  margin-top: 40px;
}

.footer-horizont {
  display: flex;
  flex-direction: row;
  // justify-content: flex-start;

}

.footer-vertical-1 {
  display: flex;
  flex-direction: column;
}

.footer-vertical-2 {
  margin: 345px 0px 24px 78px;
}

.footer-vertical-3 {
  margin-left: 15px;
  margin-top: 41px;
}

.btn-possition_footer {
  border-radius: 5px;
  margin-top: 69px;
  margin-left: 0px;
  margin-bottom: 16px;
}

.social_block {
  display: flex;
  flex-direction: column;
  margin: 46px 0px 0px 0px;
  width: 110px;
}
.font-soc {
  @include p-size-16();
  line-height: 140%;
  color: #FFFFFF;
  margin: 5px 0px 0px 12px;
  transition: all 0.3s ease;
}

// .font-soc:hover {
//   color: #4B9200;
//   transition: all 0.3s ease;
// }

.sub-footer {
  @include p-size-24();
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
}
.design {
  @include p-size-16();
  font-weight: 100;
  line-height: 130%;
  color: #FFFFFF;
  margin: 10px 0px 0px 0px;
}
.design_position {
  margin: 216px 0px 0px 137px;
}

.ico-wrap {
  display: flex;
  flex-direction: row;
  margin: -18px 0px 0px 0px;

  @include p-size-16();
  line-height: 140%;
  color: #FFFFFF;
  // padding: 5px 0px 0px 12px;
  transition: all 0.3s ease;
}

.ico-wrap:hover {
  color: #4B9200;
}

.font-pasition {
  margin: 3px 0px 29px 12px;
}

@mixin ico {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
}

.ico_f {
  @include ico();
  mask-image: url("../../../online-zoo/assets/icons/facebook_26x26.svg");
  transition: all 0.3s ease;
}
.ico_t {
  @include ico();
  mask-image: url("../../../online-zoo/assets/icons/twitter_26x26.svg");
  transition: all 0.3s ease;
}
.ico_i {
  @include ico();
  mask-image: url("../../../online-zoo/assets/icons/instagram_26x26.svg");
  transition: all 0.3s ease;
}
.ico_y {
  @include ico();
  mask-image: url("../../../online-zoo/assets/icons/youtube_26x26.svg");
  transition: all 0.3s ease;
}

.ico_f:hover,
.ico_t:hover,
.ico_i:hover,
.ico_y:hover {
  background-color: #84ff00;
  transition: all 0.3s ease;
}

.ico-wrap:hover {
  color: #4B9200;
}

.ico-wrap:hover > .ico_f {
  background-color: #84ff00;
}
.ico-wrap:hover > .ico_t {
  background-color: #84ff00;
}
.ico-wrap:hover > .ico_i {
  background-color: #84ff00;
}
.ico-wrap:hover > .ico_y {
  background-color: #84ff00;
}

.mail-box {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.contact_info {
  background: rgba( 0,0,0,.6);
  border-radius: 2px;
  border: 0;
  width: 228px;
  height: 42px;
  border: 1px solid #F9804B;

  text-indent: 7px;
  @include p-size-16();
  color: #ffffff;
  transition: all 0.3s ease;
  outline: none;
}

.button-2 {
  @include p-size-16();
  line-height: 140%;
  text-align: center;

  color: #D31414;
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #D31414;
  border-radius: 5px;
  margin-left: 10px;
  // border: 0px;
  // margin: 60px 0px 0px 983px;
  cursor: pointer;
  text-indent: 3px;
  transition: all 0.3s ease;
}
.button-2:focus:valid {
  border: 1px solid #4B9200;
  color: #4B9200;
}

.contact_info::placeholder {
  color: #e2dcdc;
}

.contact_info:focus:invalid:required {
  border: 1px solid #D31414;
}

.contact_info:focus:valid  {
  border: 1px solid #4B9200;
}

.contact_info:valid + a > .button-2 {
  border: 2px solid #4B9200;
  color: #4B9200;
}

.btn-possition_intro {
  margin: 60px 0px 0px 983px;
}

.menu_footer {
  margin: 26px 0px 16px 23px;
  padding-left: 0px;
}



@media (max-width: 1599px) {
  .container {
    width: 1000px;
  }

  .wrapper {
    width: 940px;
    // margin-left: 40px;
    // background-color: #ff0000;
  }

  .black-block {
    background-color: #000000;
    position: relative;
    z-index: 1;
    width: 1000px;
  }

  .nav-item {
    margin-right: 48px;
  }

  h5 {
    margin-left: 252px; //<---- "Designed by ©"
  }

  /* ### Watch your favorite animal online ### */

  .display_none {
    display: none;
  }

  .panda_adaptive {
    background: url(../../assets/images/panda_1000.jpg) no-repeat center;
    height: 584px;
  }

  .image {
    margin: -80px 0px -53px 0px;
  }


  .circle {
    margin: -515px 0px 0px 456px;
    width: 367px;
    height: 367px;
    z-index: 0;
  }

  .intr-text {
    width: 400.25px;
    height: 320px;
    font-size: 85px;
    line-height: 75%;
    margin: -313px 0px 0px 514px;
  }

  .btn-possition_intro {
    margin: 40px 0px 0px 565px;
  }

  /* ### The Backstage ### */

  .wrap-backstage {
    margin-top: 100px;
    margin-bottom: 711px;
    margin-left: -15px;
    margin-right: 0px;
  }

  .image-backstage {
    margin: 109px 0px 72px 15px;
  }

  .bamboo_adaptive {
    background: url(../../assets/images/bamboo-cap_1000.jpg) no-repeat center;
    width: 455px;
    height: 408px;
  }

  .info-backstage {
    margin: 100px 0px 0px 31px;
  }

  .about-subtitle {
    margin: 32px 0px 0px 0px;
  }

  /* ### Pets ### */

  .wrapper_pets {
    padding-bottom: 92px;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
  }

  .pets_card {
    width: 294px;
    height: 354px;
  }
  .pets1,
  .pets2,
  .pets3,
  .pets4,
  .pets5,
  .pets6 {
    background-size: 100% 83%;
  }

  .kind_of {
    margin-top: 303px;
    margin-left: 14px;
    padding-top: 0px;
    }

  .native {
    margin-top: -2px;
    margin-left: 14px;
  }

  .icon_choose_banana {
    margin-top: -41px;
    margin-left: 246px;
  }

  .icon_choose_fish {
    margin-top: -39px;
    margin-left: 236px;
  }

  .left-btn {
    margin-top: 369px;
    margin-left: 353px;
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .right-btn {
    margin-top: 369px;
    margin-left: 586px;
    margin-bottom: 0px;
    margin-right: 0px;
  }

  .palm {
    margin: -202px 0px 0px 0px;
  }

  .palm_adaptive {
    background: url(../../assets/styles/palm_foto_1000.png);
    width: 193px;
    height: 202px;
  }

  .strelitzia {
    margin: -180px 0px 0px 759px;
  }

  .strelitzia_adaptive {
    background: url(../../assets/styles/strelitzia_1000.png) no-repeat center;
    width: 241px;
    height: 180px;
  }

  .btn-possition_pets {
    margin: -11px 0px 0px 351px;
    padding-bottom: 140px;
  }

    /* ### Pick and feed a friend ### */

  .gradient-block {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .title-pick {
    margin-top: 31px;
    margin-left: 1px;
  }

  .info-pick {
    margin-top: 22px;
    margin-left: 0px;
  }

  .text-pick1 {
    margin-top: 22px;
    margin-left: 49px;
    padding-right: 76px;
  }

  .text-pick2 {
    margin-top: 10px;
    margin-left: 49px;
    margin-right: 71px;
  }

  .subtitle-pick {
    margin-top: 39px;
  }

  .btn-possition_pick {
    margin-top: 216px;
    margin-bottom: 50px;
  }

  /* ### Testimonials ### */

  .title-test {
    margin-top: -40px;
  }

  .gradient-block-test {
    width: 293px;
    height: 391px;
    // margin-left: 10px;
    // margin-right: 17px;
  }

  .gradient-block-test::before {
    width: 292px;
    height: 390px;
  }

  .blocks_comment {
    margin-top: 31px;
  }

  .user_comment {
    width: 258px;
  }

  .slidecontainer {
    width: 390px;
    margin-top: 15px;
    margin-left: -13px;
  }

  .slider::-webkit-slider-thumb {
    width: 75px;
  }
  .slider::-moz-range-thumb {
    width: 75px;
  }

  .btn-possition_test {
    margin-top: 58px;
    margin-left: -643px;
  }

  .leav {
    margin-top: -80px;
    margin-left: 805px;

  }

  .leav_adaptive {
    background: url(../../assets/styles/leav_foto_1000.png) no-repeat center;
    width: 196px;
    height: 325px;
    margin-top: -18px;
    margin-bottom: -13px;
  }

  /* ### Footer ### */

  .position_footer {
    margin-top: -73px;
  }

  .footer-vertical-2 {
    margin: 345px 0px 24px -31px;
  }

  .footer-vertical-3 {
    margin-left: -88px;
    margin-top: 41px;
  }

  .design_position {
    margin: 216px 0px 0px 169px;
  }

}

@media (max-width: 1599px) and (max-width: 999px) {

  .container {
    width: 640px;
  }
  .wrapper {
    width: 640px;
  }

  /* ### HEADER ### */

  .nav_header {
    display: none;
  }

  .wrapper_header {
    height: 34px;
  }

 //##########LOGO############//

  h1 {
    font-size: 12.2899px;
    margin-top: 1px;
  }

  .logo {
    width: 46.93px;
    height: 29.03px;
    margin: 0px 0px 0px 20px;
    border: none;
  }

  .logo:hover {
    border: none;
  }

  .img_bamboo {
    position: relative;
    margin: -39px 0px 0px 9px;
  }
  // .img_bamboo_down {
  //   position: relative;
  //   margin: -53px 0px 0px 9px;
  // }

  .img_bamboo_small {
    background: url(../../assets/styles/bamboo_small.svg) no-repeat center;
    width: 4.54px;
    height: 13.56px;
    margin: 15px 0px 0px -3px;
  }

 //##########BURGER############//

  .fbmenu {
    z-index: 4;
    position: relative;
    height: 10px;
    width: 18px;
    cursor: pointer;
    margin-left: 535px;
    margin-top: -2px;
  }
  .fbmenu span,
  .fbmenu::before,
  .fbmenu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #FFFFFF;
    border-radius: 2px;
  }
  .fbmenu::before,
  .fbmenu::after {
    content: "";
  }
  .fbmenu::before {
    top: 0;
  }
  .fbmenu::after {
    bottom: 0;
  }
  .fbmenu span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .fbmenu._active span {
    top: 50%;
    left: -10px;
    -webkit-transform: rotate(90deg) translate(0px, 50%);
            transform: rotate(90deg) translate(0px, 50%);
  }
  .fbmenu._active::before {
    top: 50%;
    left: 10px;
    -webkit-transform: rotate(90deg) translate(0px, 50%);
            transform: rotate(90deg) translate(0px, 50%);
  }
  .fbmenu._active::after {
    top: 50%;
    -webkit-transform: rotate(90deg) translate(0px, 50%);
            transform: rotate(90deg) translate(0px, 50%);
  }


  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 320px;
    height: 100%;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    background-color: #292929;
    padding-top: 237px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    margin: 0;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    z-index: 3;
    overflow-y: scroll;
    text-align: center;
  }
  .menu__box._active {
    -webkit-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
  .logo._active {
    z-index: 10;
  }

  .copyright_none {
    display: none;
  }

  /* ### Watch your favorite animal online ### */

  .display_none {
    display: none;
  }

  .panda_adaptive {
    height: 463px;
    background-size: 100%;
  }

  .image {
    margin: -80px 0px -53px 0px;
  }


  .circle {
    margin: -373px 0px 0px 331px;
    width: 237.6px;
    height: 237.6px;
    z-index: 0;
  }

  .intr-text {
    width: 255.64px;
    height: 204.38px;
    font-size: 54.2894px;
    line-height: 75%;
    margin: -199px 0px 0px 368px;
  }

  .btn-possition_intro {
    margin: -8px 0px -8px 20px;
  }

  /* ### The Backstage ### */

  .wrap-backstage {
    margin-top: 100px;
    margin-bottom: 94px;
    // margin-left: -15px;
    margin-left: 0px;
    margin-right: 137px;
    padding: 0px 0px 0px 0px;
  }

  .bamboo_adaptive {
    display: none;
  }

  .info-backstage {
    margin: 61px 0px 0px 35px;
    width: 495px;
  }

  .title {
    margin: 0px 0px 0px -26px;
  }

  .about-title {
    margin: 22px 0px 0px -30px;
  }

  .subtitle {
    margin: 30px 0px 0px -26px;
  }

  .about-subtitle {
    margin: 19px 0px 0px -30px;
  }

  .flower {
    margin: -524px 0px 0px 458px;
    padding-bottom: 32px;
  }

  .flower_adaptive {
    background: url(../../assets/styles/flower_foto_640.png) no-repeat center;
    // width: 231px;
    height: 476px;
    margin-left: 49px;
  }

  /* ### Pets ### */

  .wrapper_pets {
    padding-bottom: 92px;
    justify-content: space-around;
    padding-left: 6px;
    padding-right: 4px;
  }

  .two_cards {
    display: none;
  }

  .pets_card {
    width: 285px;
    height: 332px;
  }
  .pets1,
  .pets2,
  .pets3,
  .pets4,
  .pets5,
  .pets6 {
    background-size: 100% 86%;
  }

  .kind_of {
    margin-top: 291px;
    margin-left: 11px;
    padding-top: 0px;
    font-size: 12.4695px;
    }

  .native {
    margin-top: -2px;
    margin-left: 11px;
    font-size: 11.6901px;
  }

  .icon_choose_banana {
    margin-top: -28px;
    margin-left: 249px;
  }

  .icon_choose_banana_size {
    width: 25.72px;
    height: 28.84px;
  }

  .icon_choose_fish {
    margin-top: -30px;
    margin-left: 241px;
  }

  .icon_choose_fish_size {
    width: 37.41px;
    height: 29.62px;
  }

  .left-btn {
    margin-top: 343px;
    margin-left: 243px;
  }

  .right-btn {
    margin-top: 343px;
    margin-left: 335px;
  }

  .palm {
    margin: -202px 0px 0px 0px;
  }

  .palm_adaptive {
    background: url(../../assets/styles/palm_foto_640.png) no-repeat center;
    width: 134px;
    height: 202px;
  }

  .strelitzia {
    margin: -131px 0px 0px 437px;
  }

  .strelitzia_adaptive {
    background: url(../../assets/styles/strelitzia_640.png) no-repeat center;
    width: 175px;
    height: 131px;
    margin: 0px 0px 0px 28px;
  }


  .btn-possition_pets {
    margin: -32px 0px 0px 171px;
    padding-bottom: 101px;
  }

  /* ### Pick and feed a friend ### */

  .wrap-pick {
    margin-top: -11px;
    margin-bottom: -30px;
  }

  .title-pick {
    margin-top: 11px;
    font-size: 42px;
  }

  .info-pick {
    margin-top: 22px;
    margin-left: 20px;
    font-size: 22px;
  }

  .text-pick1 {
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 17px;
  }

  .text-pick2 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 15px;
  }

  .subtitle-pick {
    margin-top: 30px;
  }

  .btn-possition_pick {
    margin-top: 216px;
    margin-bottom: 50px;
  }

  .arrow_none {
    display: none;
  }

  .arrow1 {
    margin-top: -296px;
    margin-left: -237px;
  }
  .arrow2 {
    position: relative;
    margin-top: -71px;
    margin-left: 180px;
  }

  .arrow1_adaptive {
    background: url(../../assets/icons/arrow_640.svg) no-repeat center;
    width: 92.12px;
    height: 69.66px;
  }

  .arrow2_adaptive {
    background: url(../../assets/icons/arrow_640.svg) no-repeat center;
    width: 92.12px;
    height: 69.66px;
  }

  .pick-blok {
    margin-left: -53px;
  }

  .choose {
    margin-top: 18px;
    margin-left: 40px;
  }

  .btn-possition_pick {
    margin-top: 255px;
    margin-bottom: 60px;
  }

  /* ### Testimonials ### */

  .title-test {
    margin: -80px 4px 0px 0px;
  }

  .blocks_comment {
    flex-direction: column;
  }

  .gradient-block-test {
    position: relative;
    width: 600px;
    height: 109px;
    margin: 0;
    background: #F1F3F2;
    border-radius: 20px;
    margin: 2px 0px 13px 21px;
  }

  .gradient-block-test::before {
    width: 599px;
    height: 108px;
  }

  .avatar {
    margin-top: -21px;
    margin-left: 11px;
  }

  .user_name {
    margin-left: 58px;
  }

  .user_local {
    margin-left: 57px;
  }

  .user_comment {
    width: 568px;
    height: 37px;
  }

  .slide_none {
    display: none;
  }

  .btn-1_240 {
    width: 240px;
  }

  .btn-possition_test {
    margin-top: 27px;
    margin-left: -1px;
  }

  .leav {
    margin-top: -80px;
    margin-left: 524px;

  }

  .leav_adaptive {
    background: url(../../assets/styles/leav_foto_640.png) no-repeat center;
    width: 116px;
    height: 204px;
    margin: 24px 0px 41px 0px;
  }

  /* ### Footer ### */

  .size_box_footer {
    width: 600px;
    margin: -89px 0px 0px 0px;
    padding: 13px 0px 0px 0px;
  }

  .position_footer {
    margin-top: -109px;

    // margin: -89px 0px 0px 94px;
    // padding: 13px 39px 0px 0px;
  }

  .logo_footer_border_adaptive {
    border: 1.18841px solid #FFFFFF;
    width: 82px;
    height: 52px;
  }

  .logo_footer_border_adaptive:hover {
    border: 1.18841px solid #FE9013;
  }

  .footer_element_none {
    display: none;
  }

  .social_block {
    position: absolute;
    margin: -21px 0px 0px 593px;
    width: 30px;
  }

  .ico-wrap {
    margin: 20px 0px 0px 0px;
  }

  .btn-possition_footer {
    margin-top: 32px;
    margin-left: 19px;
    // margin-bottom: 16px;
  }

  .design_position {
    width: 228px;
    margin: 152px 0px 0px 163px;
  }

  .footer-vertical-2 {
    position: absolute;
    margin: 209px 0px 0px -2px;
  }

  .nav-item {
    margin-right: 37px;
  }
}

@media (max-width: 639px) and (min-width: 320px) {

  .container {
    width: 320px;
  }

  .wrapper {
    width: 300px;
  }

  //##########LOGO############//

  .logo {
    margin: 0px 0px 0px 0px;
    border: none;
  }


  //##########BURGER############//

  .fbmenu {
    margin-left: 235px;
    margin-top: 0px;
  }


  /* ### Watch your favorite animal online ### */
  .panda_adaptive {
    height: 463px;
    background-size: 100%;
    margin-top: -138px;
  }

  .circle {
    margin: -303px 0px 0px 163px;
    width: 119.09px;
    height: 119.09px;
  }

  .intr-text {
    width: 128.13px;
    height: 102.44px;
    font-size: 28px;
    margin: -100px 0px 0px 182px;
  }

  .btn-possition_intro {
    margin: 63px 0px -8px 12px;
  }

  /* ### The Backstage ### */

  .wrap-backstage {
    margin-top: -66px;
    margin-right: 0px;
    // margin-bottom: 94px;
  }

  .info-backstage {
    margin: 61px 0px 0px 11px;
    width: 300px;
  }

  .title {
    margin: 44px 0px 0px -26px;
    font-size: 24px;
  }

  .about-title {
    margin: 11px 0px 0px -24px;
  }

  .subtitle {
    margin: 20px 0px 0px -24px;
  }

  .about-subtitle {
    margin: 9px 0px 0px -26px;
  }

  .flower {
    margin: -551px 0px 0px 319px;
    padding-bottom: 269px;
  }

  .flower_adaptive {
    background: url(../../assets/styles/flower_foto_320.png) no-repeat center;
    width: 35px;
    height: 225px;
    margin-left: -34px;
  }

  /* ### Pets ### */

  .left-btn {
    display: none;
  }

  .right-btn {
    display: none;
  }

  .wrapper_pets {
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: space-around;
    padding-left: 7px;
    padding-right: 4px;
  }

  .pets_card {
    width: 285px;
    height: 332px;
    margin-bottom: 20px;
  }

  .palm {
    margin: -72px 0px 0px 0px;
  }

  .palm_adaptive {
    background: url(../../assets/styles/palm_foto_320.png) no-repeat center;
    width: 58px;
    height: 72px;
  }

  .strelitzia {
    margin: -65px 0px 0px 222px;
  }

  .strelitzia_adaptive {
    background: url(../../assets/styles/strelitzia_320.png) no-repeat center;
    width: 71px;
    height: 68px;
    margin: 0px 0px 0px 28px;
  }

  .btn-possition_pets {
    margin: 0px 0px 0px 10px;
    padding-bottom: 60px;
  }

  /* ### Pick and feed a friend ### */

  .wrap-pick {
    margin-top: -10px;
    margin-bottom: -30px;
  }

  .title-pick {
    margin-top: 21px;
    font-size: 24px;
  }

  .info-pick {
    margin-top: 12px;
    margin-left: -3px;
    font-size: 18px;
    text-align: center;
  }

  .text-pick1 {
    display: none;
  }

  .text-pick2 {
    display: none;
  }

  .subtitle-pick {
    margin-top: 19px;
    margin-left: 0px;
    font-size: 24px;
    padding-bottom: 10px;
  }

  .pick-blok {
    flex-direction: column;
    margin-left: -53px;
    margin-top: 67px;
  }

  .choose {
    margin-top: -59px;
    margin-left: 51px;
  }

  .choose-text {
    margin-top: 12px;
    padding-bottom: 108px;
  }

  .btn-possition_pick {
    margin-top: 188px;
    margin-bottom: 40px;
  }

  .arrow1 {
    margin-top: -625px;
    margin-left: 203px;
  }
  .arrow2 {
    position: relative;
    margin-top: 179px;
    margin-left: 202px;
  }

  .arrow1_adaptive {
    background: url(../../assets/icons/arrow_640.svg) no-repeat center;
    transform: rotate(85deg);
  }

  .arrow2_adaptive {
    background: url(../../assets/icons/arrow_640.svg) no-repeat center;
    transform: rotate(85deg);
  }

  .btn-possition_pick {
    margin-top: 267px;
    margin-bottom: 40px;
  }

  /* ### Testimonials ### */

  .title-test {
    margin: -112px 0px -13px 0px;
    font-size: 24px;
  }

  .gradient-block-test {
    width: 299px;
    margin: 2px 0px 13px 0px;
  }

  .gradient-block-test::before {
    width: 298px;
  }

  .user_comment {
    width: 274px;
    height: 37px;
  }

  .btn-possition_test {
    margin-top: 18px;
    margin-left: -1px;
  }

  .leav {
    margin-top: 10px;
    margin-left: 268px;

  }

  .leav_adaptive {
    background: url(../../assets/styles/leav_foto_320.png) no-repeat center;
    width: 51px;
    height: 94px;
    margin: -15px 0px 80px 0px;
  }

   /* ### Footer ### */

   .position_footer {
    margin-top: -109px;

    // margin: -89px 0px 0px 94px;
    // padding: 13px 39px 0px 0px;
  }

  .logo_footer_border_adaptive {
    border: none;
    width: 131px;
    height: 30px;
    margin: 5px 0px 0px 96px;
  }

  .img_bamboo_down {
    margin: -53px 0px 0px 71px;
  }

  .social_block {
    flex-direction: row;
    margin: 39px 0px 0px 63px;
    // width: 30px;
  }

  .btn-possition_footer {
    margin-top: 81px;
    margin-left: 9px;
  }

  .footer-vertical-2 {
    margin: 253px 0px 0px 10px;
  }

  .nav-item {
    margin-right: 30px;
  }

  .ico-wrap {
    margin: 21px 30px 0px 0px;
  }

  .nav:last-child {
    margin-right: 0px;
  }

  .footer-vertical-3 {
    margin-left: -306px;
    margin-top: 33px;
  }

  .design {
    font-size: 15px;
    width: 214px;
    margin: 10px 0px 0px -76px;
  }

  .design_position {
    width: 148px;
    margin: 154px 0px 0px 171px;
  }

  .menu_footer {
    margin: 26px 0px 16px 2px;
  }

}
