@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("/online-zoo/assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/online-zoo/assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("/online-zoo/assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("/online-zoo/assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}
body {
  overflow: auto;
  position: relative;
  background-color: #030303;
}

body.lock {
  overflow: hidden;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.wrapper {
  width: 1160px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.nav-item a.active:after,
.nav-link,
.nav-link:hover,
.nav-link:focus,
.no-button,
.no-button:hover,
.no-button:active,
.left-btn,
.left-btn:hover,
.left-btn:active,
.right-btn,
.right-btn:hover,
.right-btn:active,
.pets_card,
.pets_card:hover,
.pets_card:hover .pets_card-btn,
.reset-btn,
.reset-btn:hover,
.reset-btn:active,
.account-style,
.account-style:hover,
.pop-btn,
.pop-btn:hover,
.pop-btn:active {
  transition: all 0.5s ease;
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 19.0145px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-top: 3px;
  text-align: center;
  transition: all 0.3s ease;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  color: #333B41;
}

/* ### HEADER ### */
.black-block {
  background-color: #000000;
  position: relative;
  z-index: 1;
  width: 1600px;
}

.wrapper_header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 80px;
  position: relative;
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 82px;
  height: 52px;
  cursor: pointer;
  position: relative;
  border: 1.18841px solid #FFFFFF;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.logo:hover {
  border: 1.18841px solid #FE9013;
  transition: all 0.3s ease;
}
.logo:hover h1 {
  color: #FE9013;
  transition: all 0.3s ease;
}

.img_bamboo {
  position: relative;
  margin: -39px 0px 0px 9px;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px 16px 23px;
}

.nav:last-child {
  margin-right: -41px;
}

.nav-item {
  margin-right: 58px;
}

.nav-link {
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.active {
  color: #F9804B;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: #F9804B;
}

.copyright {
  color: #CDCDCD;
  position: relative;
  z-index: 1;
}

h5 {
  display: flex;
  margin-left: 422px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

/* ### Watch your favorite animal online ### */
.image {
  margin: -80px 0px 0px 0px;
}

.intro {
  position: relative;
}

.circle {
  margin: -692px 0px 0px 807px;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.intr-text {
  width: 500.31px;
  height: 400px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: -391px 0px 0px 880px;
  position: relative;
  z-index: 2;
}

.button-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  font-weight: 500;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  margin: 0;
  border: 0px;
  cursor: pointer;
  text-indent: 3px;
}

.button-1:hover, .button-1:active {
  background: #E47209;
}

.btn-possition_intro {
  margin: 60px 0px 0px 983px;
}

/* ### The Backstage ### */
.white-block {
  background: #FFFFFF;
  width: 1600px;
}

.wrap-backstage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 94px;
  background: #FFFFFF;
}

.image-backstage {
  margin: 140px 0px 95px 0px;
}

.info-backstage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 140px 0px 0px 87px;
}

.title {
  line-height: 120%;
  margin: 0px 0px 0px 0px;
}

.about-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 130%;
  margin: 22px 0px 0px 0px;
}

.subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #333B41;
  line-height: 120%;
  margin: 54px 0px 0px 0px;
}

.about-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  margin: 32px 0px 0px 0px;
  line-height: 140%;
}

.flower {
  position: relative;
  margin: -725px 0px 0px 1396px;
  padding-bottom: 94px;
}

/* ### Pets ### */
.left-btn {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  border: none;
  outline: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  margin-top: 403px;
  margin-left: 138px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.right-btn {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  border: none;
  outline: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  position: absolute;
  margin-top: 403px;
  margin-left: 1398px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.right-btn:hover,
.left-btn:hover {
  background: linear-gradient(113.96deg, #4B9200 1.49%, #699c32 101.44%);
  cursor: pointer;
}

.wrapper_pets {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img1 {
  border-radius: 5px 5px 0px 0px;
  margin-left: -2px;
}

.btn-possition_pets {
  margin: 60px 0px 0px 651px;
  padding-bottom: 100px;
}

.pets1 {
  background: url("../../../online-zoo/assets/images/giant_pandas.jpg") center center;
  background-size: 100% 86%;
  transition: background-size 0.3s ease-in;
  -moz-transition: background-size 0.3s ease-in;
  -web-kit-transition: background-size 0.3s ease-in;
}

.pets2 {
  background: url("../../../online-zoo/assets/images/eagles.jpg");
  background-size: 100% 86%;
  transition: background-size 0.3s ease-in;
  -moz-transition: background-size 0.3s ease-in;
  -web-kit-transition: background-size 0.3s ease-in;
}

.pets3 {
  background: url("../../../online-zoo/assets/images/gorillas.jpg");
  background-size: 100% 86%;
  transition: background-size 0.3s ease-in;
  -moz-transition: background-size 0.3s ease-in;
  -web-kit-transition: background-size 0.3s ease-in;
}

.pets4 {
  background: url("../../../online-zoo/assets/images/two-toed_sloth.jpg");
  background-size: 100% 86%;
  transition: background-size 0.3s ease-in;
  -moz-transition: background-size 0.3s ease-in;
  -web-kit-transition: background-size 0.3s ease-in;
}

.pets5 {
  background: url("../../../online-zoo/assets/images/cheetahs.jpg");
  background-size: 100% 86%;
  transition: background-size 0.3s ease-in;
  -moz-transition: background-size 0.3s ease-in;
  -web-kit-transition: background-size 0.3s ease-in;
}

.pets6 {
  background: url("../../../online-zoo/assets/images/penguins.jpg");
  background-size: 100% 86%;
  transition: background-size 0.3s ease-in;
  -moz-transition: background-size 0.3s ease-in;
  -web-kit-transition: background-size 0.3s ease-in;
}

.pets_card {
  width: 366px;
  height: 426px;
  border: 1px solid;
  border-radius: 5px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  color: #FE9013;
  margin-right: 2px;
  position: relative;
  overflow: hidden;
}

.pets_card:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: background 0.5s;
}

.pets_card:hover:before {
  background: rgba(0, 0, 0, 0.5);
}

.pets1:hover,
.pets2:hover,
.pets3:hover,
.pets4:hover,
.pets5:hover,
.pets6:hover {
  background-size: 120% 106%;
  transition: all 0.5s ease;
}
.pets1:hover .kind_of,
.pets2:hover .kind_of,
.pets3:hover .kind_of,
.pets4:hover .kind_of,
.pets5:hover .kind_of,
.pets6:hover .kind_of {
  position: relative;
  z-index: 1;
  color: #FE9013;
  transition: all 0.5s ease;
  margin-top: 10%;
}
.pets1:hover .native,
.pets2:hover .native,
.pets3:hover .native,
.pets4:hover .native,
.pets5:hover .native,
.pets6:hover .native {
  color: #ffffff;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
}

.kind_of {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  margin-top: 373px;
  margin-left: 14px;
  margin-bottom: 0px;
}

.native {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  margin-top: -2px;
  margin-left: 14px;
  margin-bottom: 0px;
}

.icon_choose_banana {
  margin-top: -37px;
  margin-left: 319px;
  margin-bottom: 0px;
}

.icon_choose_fish {
  margin-top: -39px;
  margin-left: 307px;
  margin-bottom: 0px;
}

.palm {
  position: absolute;
  margin: -460px 0px 0px 0px;
}

.strelitzia {
  position: absolute;
  margin: -275px 0px 0px 1232px;
}

/* ### Pick and feed a friend ### */
.gradient-block {
  width: 1600px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
  padding-bottom: 100px;
}

.wrap-pick {
  display: flex;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
  margin-top: 0px;
}

.wra1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title-pick {
  color: #FE9013;
  margin: 0;
  margin-top: 42px;
  margin-left: 3px;
}

.info-pick {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #333B41;
  margin: 0;
  line-height: 120%;
  margin-top: 33px;
  margin-left: -120px;
}

.text-pick1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  font-weight: 500;
  margin: 0;
  line-height: 130%;
  margin-top: 40px;
  margin-left: 39px;
}

.text-pick2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  margin: 0;
  line-height: 130%;
  margin-top: 10px;
  margin-left: 99px;
  margin-right: 190px;
}

.subtitle-pick {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #333B41;
  line-height: 130%;
  margin: 0;
  margin-top: 60px;
  margin-left: -2px;
}

.pick-blok {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -131px;
}

.choose {
  margin-top: 39px;
  margin-left: 129px;
}

.gradient {
  position: relative;
  width: 169px;
  height: 169px;
  margin: 0;
  background: #ffffff;
  border-radius: 5px;
}

.gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 168px;
  height: 168px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: linear-gradient(75deg, #F9804B, #FE9013) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.pic1 {
  position: relative;
  z-index: 2;
  margin-top: 55px;
  margin-left: 31px;
}

.pic2 {
  position: relative;
  z-index: 2;
  margin-top: 39px;
  margin-left: 41px;
}

.pic3 {
  position: relative;
  z-index: 2;
  margin-top: 48px;
  margin-left: 22px;
}

.choose-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  width: 168px;
  height: 46px;
  margin-top: 30px;
}

.btn-possition_pick {
  margin-top: 206px;
  margin-left: 0px;
  margin-bottom: 59px;
}

.arrow1 {
  position: relative;
  margin-top: -199px;
  margin-left: -299px;
}

.arrow2 {
  position: relative;
  margin-top: -46px;
  margin-left: 296px;
}

.link-style {
  border-bottom: 1px solid #FE9013; /* добавляем нижнюю границу */
  padding-bottom: 2px;
}

/* ### Testimonials ### */
.title-test {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #333B41;
  margin: 0;
}

.gradient-block-test {
  position: relative;
  width: 268px;
  height: 391px;
  margin: 0;
  background: #F1F3F2;
  border-radius: 20px;
}

.gradient-block-test::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 267px;
  height: 390px;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(75deg, #FEBDAB 74%, #F3A9F8 66%, #E0D8F0 100%, #EAF7FE 100%, #EAF7FE 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.user_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 120%;
  color: #000000;
  margin: 0;
  margin-left: 64px;
  padding-top: 15px;
}

.user_local {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #333B41;
  line-height: 120%;
  color: #BDBDBD;
  margin: 0;
  margin-top: -21px;
  margin-left: 64px;
  letter-spacing: 0.02em;
}

.avatar {
  position: relative;
  z-index: 2;
  margin-top: -19px;
  margin-left: 17px;
}

.user_comment {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #333B41;
  line-height: 120%;
  margin: 0;
  margin-top: 10px;
  margin-left: 17px;
  width: 237px;
  height: 309px;
  overflow: hidden;
}

.block_test {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-blok-position {
  padding-top: 143px;
}

.blocks_comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 0px;
}

.slidecontainer {
  width: 599px;
  height: 8px;
  margin-top: 14px;
  margin-left: -3px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border: solid #f1b876 1px;
  border-radius: 5px;
  background: #F5F7F6;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 115.19px;
  height: 6px;
  cursor: pointer;
  background: #FE9013;
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 115.19px;
  height: 6px;
  background: #FE9013;
  border-radius: 5px;
  cursor: pointer;
}

.btn-possition_test {
  border-radius: 5px;
  margin-top: 37px;
  margin-left: -863px;
}

.leav {
  margin-top: -95px;
  margin-left: 1353px;
}

/* ### Footer ### */
.position_footer {
  margin-top: -137px;
}

.position_footer_logo {
  margin-top: 40px;
}

.footer-horizont {
  display: flex;
  flex-direction: row;
}

.footer-vertical-1 {
  display: flex;
  flex-direction: column;
}

.footer-vertical-2 {
  margin: 345px 0px 24px 78px;
}

.footer-vertical-3 {
  margin-left: 15px;
  margin-top: 41px;
}

.btn-possition_footer {
  border-radius: 5px;
  margin-top: 69px;
  margin-left: 0px;
}

.social_block {
  display: flex;
  flex-direction: column;
  margin: 37px 0px 0px 0px;
}

.font-soc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  color: #FFFFFF;
  margin: 5px 0px 0px 12px;
  transition: all 0.3s ease;
}

.font-soc:hover {
  color: #4B9200;
  transition: all 0.3s ease;
}

.sub-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #333B41;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
}

.design {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  font-weight: 100;
  line-height: 130%;
  color: #FFFFFF;
  margin: 10px 0px 0px 0px;
}

.design_position {
  margin: 216px 0px 0px 137px;
}

.ico-wrap {
  display: flex;
  flex-direction: row;
  margin: 8px 0px 0px 0px;
}

.ico_f {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: url("../../../online-zoo/assets/icons/facebook_26x26.svg");
          mask-image: url("../../../online-zoo/assets/icons/facebook_26x26.svg");
  transition: all 0.3s ease;
}

.ico_t {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: url("../../../online-zoo/assets/icons/twitter_26x26.svg");
          mask-image: url("../../../online-zoo/assets/icons/twitter_26x26.svg");
  transition: all 0.3s ease;
}

.ico_i {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: url("../../../online-zoo/assets/icons/instagram_26x26.svg");
          mask-image: url("../../../online-zoo/assets/icons/instagram_26x26.svg");
  transition: all 0.3s ease;
}

.ico_y {
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-color: rgb(255, 255, 255);
  -webkit-mask-image: url("../../../online-zoo/assets/icons/youtube_26x26.svg");
          mask-image: url("../../../online-zoo/assets/icons/youtube_26x26.svg");
  transition: all 0.3s ease;
}

.ico_f:hover,
.ico_t:hover,
.ico_i:hover,
.ico_y:hover {
  background-color: #84ff00;
  transition: all 0.3s ease;
}

.mail-box {
  display: flex;
  flex-direction: row;
  margin-top: 13px;
}

.contact_info {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  border: 0;
  width: 228px;
  height: 42px;
  border: 1px solid #F9804B;
  text-indent: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  color: #ffffff;
  transition: all 0.3s ease;
}

.button-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #333B41;
  line-height: 140%;
  text-align: center;
  color: #000000;
  width: 129px;
  height: 42px;
  background: #F1F3F2;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-left: 10px;
  border: 0px;
  cursor: pointer;
  text-indent: 3px;
  transition: all 0.3s ease;
}

.button-2:hover {
  color: #F9804B;
  border: 1px solid #F9804B;
  transition: all 0.3s ease;
}

.button-2:active {
  color: #4B9200;
  border: 1px solid #4B9200;
  transition: all 0.3s ease;
}

.btn-possition_intro {
  margin: 60px 0px 0px 983px;
}

.menu_footer {
  margin: 26px 0px 16px 23px;
  padding-left: 0px;
}/*# sourceMappingURL=style.css.map */